/* ===========================================================================
  footer
============================================================================= */
.footer {
	background-color: #333;
	padding: 20px 0;
	margin-top: auto;
	@include mq(s) {
		padding: 10px 0;
	}
}
.footer_inner {
	max-width: $width_max;
	margin: 0 auto;
	text-align: center;
}
.footer_copy {
	color: #fff;
	font-size: 1.2rem;
	@include mq(s) {
		font-size: 1.0rem;
	}
}
