/* ===========================================================================
  headerNav
============================================================================= */
.headerNav {
	width: 92%;
	max-width: $width_max;
	margin: 0 auto;
	padding: 0!important;
	display: flex;
	justify-content: space-between;
}
