// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'mixin';
@import 'header';
@import 'headerNav';
@import 'footer';
@import 'base';
@import 'util';




// ===========================================================================
//  contentsArea
// ============================================================================
.contentsArea {
  	width: 100%;
  	min-width: $width_max;
    margin: 0 auto;
    padding: 0 3% 100px 3%;
}

// ===========================================================================
//  heading02
// ============================================================================
.heading02 {
    color: $color-main;
    font-size: 2.6rem;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
}
.heading02-02 {
    @extend .heading02;
    color: #004aad;
}

// ===========================================================================
//  section
// ============================================================================
.section {
    margin-top: 60px;
}
.section-review {
    margin-top: 40px;
}

// ===========================================================================
//  btn
// ============================================================================

.btn {
    padding: 5px 10px;
    color: #fff !important;
    font-size: 1.4rem;
    text-align: center;
    border: none;
    background: #53626F;
    border-radius: 4px;
    outline: none;
    &:hover {
      opacity: 0.7;
    }
}
.btn-01 {
    @extend .btn;
    display: block;
    width: 200px;
    padding: 15px 10px;
    border-radius: 10px;
    margin: 0 auto;
    border: 1px solid $color-main;
    color: $color-main;
    &:hover {
        color: #fff;
        background-color: $color-main;
        transition: .2s;
    }
}
.btn-02 {
    @extend .btn-01;
    display: block;
    width: 70%;
    padding: 15px 10px;
    border-radius: 10px;
    margin: 0 auto;
    color: #fff;
    background-color: $color-main;
    border: none;
    &:hover {
        color: #fff;
        background-color: $color-main;
        transition: .2s;
    }
}
.btn-02-s {
    @extend .btn-02;
    padding: 5px;
    font-size: 1.2rem!important;
}
.btn-03 {
    @extend .btn-02;
    text-align: center;
    margin: 0 auto;
    padding: 10px 0;
}

// ===========================================================================
//  form
// ============================================================================
.formArea {
    padding: 25px;
    margin: 0 auto;
}
.formArea .form-group {
    border-bottom: 1px dotted #dcdcdc;
    padding: 15px;
    display: flex;
    align-items: center;
    > label {
        width: 20%;
    }
}

// ===========================================================================
//  table
// ============================================================================
.table-01 {
    > thead {
        > tr {
          > th {
            padding: 5px;
            text-align: center;
            vertical-align: middle;
            border: 1px solid #ccc;
            background: #efefef;
          }
        }
      }
    > tbody {
        > tr {
            border-bottom: 1px dotted #dcdcdc;
            > th, td {
                padding: 5px;
            }
            >th {
                width: 30%;
            }
            &:hover {
              background-color: aliceblue;
            }
        }
    }
}

// ===========================================================================
//  .navbar-nav
// ============================================================================
.navbar-nav {
    flex-direction: row;
}

// ===========================================================================
//  form
// ============================================================================
.form-control {
    display: block;
    width: 100%!important;
    height: calc(1.75em + 0.75rem + 2px)!important;
    padding: 0.375rem 0.75rem;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.75;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.row > [class*='col-'] {
    padding-left: 10px;
    padding-right: 10px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.formArea {
    padding: 0;
}

.formArea .form-group {
    border-bottom: none;
    margin-bottom: 0!important;
}

label {
  display: inline-block;
  vertical-align: super;
}

.formArea .form-group > label {
    margin: 0;
}

// ===========================================================================
//  dl
// ============================================================================
.dl-style01 {
  width: 100%;
  margin: 0 auto 30px;
  border-top: 1px solid #ccc;
  > dt {
    padding: 5px 10px;
    border-top: 1px solid #ccc;
    font-weight: bold;
    background: #ccc;
  }
  > dd {
    border: 1px solid #ccc;
    border-top: none;
    text-align: left;
    background: #fff;
    a {
      display: block;
      padding: 8px 10px;
      color: #000;
      &:hover {
        background: aliceblue;
        text-decoration: none;
      }
    }
  }
}
